<div class="container-fluid m-0 p-0">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img class="img-fluid" src="../../assets/imgs/lauk.png" style="max-height: 50px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <img class="img-fluid" id="introText" src="../../assets/imgs/intro-text-2.png">
        </li>
      </ul>
      <span class="navbar-text">
        <a class="nav-link" href="#" data-title="+37061234567&#13;info@laukinukas.lt" tabindex="-1"
          aria-disabled="true" id="introTextContacts">
          contacts
        </a>
      </span>
    </div>
  </nav>
</div>