$btn-color: rgb(49, 174, 212);
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;

@mixin mobile-s {
  @media (min-width: #{mobile-s}) {
      @content;
  }
}

@mixin mobile-m {
  @media (min-width: #{mobile-m}) {
      @content;
  }
}

@mixin mobile-l {
  @media (min-width: #{mobile-l}) {
      @content;
  }
}

@mixin tablet {
  @media (min-width: #{tablet}) {
      @content;
  }
}

nav.navbar {
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.5rem;
    height: 66px;

    .navbar-brand, .navbar-brand:focus {
      border: 0 !important;
      outline: none !important;
    }
    .navbar-brand:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      transition: .3s ease-in;
    }

    #navbarText {
      margin-top: -12vh;
      margin-left: 14vw;
      justify-content: center;

      @include mobile-s {
        margin-top: 20px !important;
        margin-left: 35px;
      }

      a#telephone {
        margin-top: 0;
        margin-bottom: 2.5vh;
      }
      
      @include mobile-l {
        background-color: red;
        margin-top: 20px;
        margin-left: 55px;
      }
    }
    
    .navbar-text {
      a.nav-link {
        font-size: 6.8vw;
      }

      #introSocial {
        .hidden {
          display: none;
        }
      }

      .nav-link {
        #telephone, #email, #fb, #instagram, #pinterest {
          transition: color .2s ease-in;
          font-size: 1rem;
        }
        #telephone:hover, #email:hover, #fb:hover, #instagram:hover, #pinterest:hover {
          text-decoration: none;
          color: $btn-color;
        }
      }

      #introSocial {
        transition: color .2s ease-in;
        color: rgb(82, 120, 144);
        position: relative;

        &:hover {
          color: $btn-color !important;
            .hidden-contacts {
              position: absolute;
              display: flex;
              flex-direction: row;
              left: -6vh;
              top: 9vh;
              margin-left: 10vw;
              z-index: 2;
              font-size: 1rem;

              a#telephone, a#email {
                margin-right: 4vw;
                padding: 1vw;
                font-size: .8rem;
              }

              a#email {
                margin-left: 4vw;
                padding: 1vw;
                font-size: .8rem;
              }
            }  

            .hidden-social {
              position: absolute;
              display: flex;
              flex-direction: row;
              left: 7px;
              margin-left: 10vw;
              z-index: 2;
              font-size: 1rem;

              a#fb, a#instagram, a#pinterest {
                margin: 2vw;
                font-size: 1rem;
              }
            }
        }
      }
    }
}