$btn-color: rgb(49, 174, 212);

$mobile-s: 320px;
$samsung-s5: 360px;
$mobile-m: 375px;
$mobile-l: 414px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

@mixin mobile-s {
    @media (min-width: #{$mobile-s}) {
        @content;
    }
}

@mixin samsung-s5 {
  @media (min-width: #{$samsung-s5}) {
      @content;
  }
}

@mixin mobile-m {
    @media (min-width: #{$mobile-m}) {
        @content;
    }
}  

@mixin mobile-l {
    @media (min-width: #{$mobile-l}) {
        @content;
    }
} 

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$laptop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

nav.navbar {
    font-family: 'Cabin Sketch', normal;
    font-size: 1.5rem;
    height: 66px;

    .navbar-brand, .navbar-brand:focus {
      border: 0 !important;
      outline: none !important;
    }
    .navbar-brand:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      transition: .3s ease-in;
    }

    .navbar-text {
      a.nav-link {
        font-size: 18px;
      }

      .nav-link {
        #telephone, #email, #fb, #instagram, #pinterest {
          transition: color .2s ease-in;
          font-size: 1rem;
        }
        #telephone:hover, #email:hover, #fb:hover, #instagram:hover, #pinterest:hover {
          text-decoration: none;
          color: $btn-color;
        }
      }

      #introSocial {
        cursor: pointer;
        transition: color .2s ease-in;
        color: rgb(82, 120, 144);
        position: relative;

        @include mobile-s {
          top: -3.5vh;
          margin: 5px 20px;
        }
        @include samsung-s5 {
          left: 8vw;
        }
        @include mobile-m {
          top: -3.5vh;
          left: 7vw;
        }
        @include mobile-l {
          top: -3.5vh;
          left: 11vw;
        }
        @include tablet {
          top: 0;
          left: 0;
          right: 0;
          padding: 0;
        }
        @include desktop {
          font-size: 1.3rem;
        }

        .hidden {
          display: none;
        }

        &:hover {
          color: $btn-color !important;
            .hidden-contacts {
              @include mobile-s {
                display: block;
                position: absolute;
                top: -8vh;
                left: 21vw;
    
                a#telephone, a#email {
                  font-size: .8rem;
                  margin: 2px 2px;
                  padding: 2px 2px;
                }
              }
              @include samsung-s5 {
                top: -6.65vh;
                left: 17vw;
              }
              @include mobile-m {
                display: block;
                position: absolute;
                top: -6.5vh;
                left: 17vw;
    
                a#telephone, a#email {
                  font-size: .8rem;
                }
              }
              @include mobile-l {
                display: block;
                position: absolute;
                top: -6vh;
                left: 19vw;
    
                a#telephone, a#email {
                  font-size: .8rem;
                }
              }
              @include tablet {
                display: block;
                position: absolute;
                top: 5vh;
                left: 0vw;
    
                a#telephone, a#email {
                  font-size: .8rem;
                }
              }
              @include laptop {
                display: block;
                position: absolute;
                top: 5vh;
                left: 0vw;
    
                a#telephone, a#email {
                  font-size: .9rem;
                }
              }
              @include desktop {
                top: 3vh;
                margin: 2.5px 2.5px;
              }
            }

            .hidden-social {
              @include mobile-s {
                display: block;
                position: absolute;
                top: -5vh;
                left: -21vw;
    
                a#fb, a#instagram, a#pinterest {
                  font-size: .8rem;
                  margin: 10px 10px;
                }
              }
              @include mobile-m {
                display: block;
                position: absolute;
                left: -18vw;

                a#fb, a#instagram, a#pinterest {
                  font-size: .8rem;
                }
              }
              @include mobile-l {
                display: block;
                position: absolute;
                left: -17vw;

                a#fb, a#instagram, a#pinterest {
                  font-size: .8rem;
                }
              }
              @include tablet {
                display: block;
                position: absolute;
                top: 5vh;
                left: 1vw;
    
                a#fb, a#instagram, a#pinterest {
                  font-size: .8rem;
                }
              }
              @include laptop {
                display: block;
                position: absolute;
                top: 5vh;
                left: 1vw;
    
                a#fb, a#instagram, a#pinterest {
                  font-size: 1rem;
                  margin: 10px 10px;
                }
              }
              @include desktop {
                left: 0.5vw;
                top: 3vh;
                margin: 5px 5px;
              }
          }
        }
      }
    }
}