ul.list-group  {
    list-style: none;

    .list-item {
        font-size: .8rem;
    }
}

#footnote {
    font-size: .8rem;
}

#footer-topic {
    font-family: "Cabin Sketch", normal;
    font-size: 18px;
}
#dev-signature {
    display: flex;
    justify-content: flex-start;
    // align-content: flex-start;
}

#cash-cards {
    display: flex;
    justify-content: flex-end;
    // align-content: flex-end;

    .fab.fa-cc-visa {
        color: rgb(255, 230, 0);
        font-size: .8rem;
    
    }
    
    .fab.fa-cc-mastercard {
        color: rgb(6, 211, 6);
        font-size: .8rem;
    }
    
    .fas.fa-globe-americas {
        color: rgb(241, 24, 9);
        font-size: .8rem;
    }
}