<div class="container">
  <div class="row justify-content-center">
    <div class="col-3" *ngFor="let item of (cart$ | async).shopItems; let i = index;">
      <div class="card mb-2" style="width: 175.5px; height: 325px;">
        <img class="card-img-top image-fluid" style="width: 173.5px; height: 115.73px;" [src]="item.imageUrl" alt="{{ item.name }}">
        <div class="card-body">
          <h5 class="card-title font-weight-bold" style="overflow: auto; white-space: nowrap;">{{ item.name }}</h5>
          <p class="card-text" style="word-wrap: break-word;">{{ item.description }}</p>
          <p class="card-text" style="word-wrap: break-word;">{{ item.price }} &euro;</p>
          <a class="btn btn-primary btn-sm btn-rounded" (click)="removeItemFromDb(item)">Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>
