<div class="container-fluid p-0 m-0">
  <div class="container-fluid p-0 m-0">
    <div class="row mx-auto">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-sm-offset-1 col-md-offset-2 mx-auto justify-content-center">
        <app-header></app-header>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mx-auto justify-content-center">
      <app-shop></app-shop>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <app-footer></app-footer>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
