<div class="container-fluid m-0 p-0" id="wrapper-app">
  <div class="container-fluid sticky-top m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-0 p-0 justify-content-center">
        <app-header></app-header>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mx-auto justify-content-center">
      <app-shop></app-shop>
    </div>
  </div>
  <div class="container-fluid m-0 p-0">
    <app-footer></app-footer>
  </div>
  <!-- notifications container -->
  <notifier-container></notifier-container>
</div>