$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

@mixin mobile-s {
    @media (min-width: #{$mobile-s}) {
        @content;
    }
}

@mixin mobile-m {
    @media (min-width: #{$mobile-m}) {
        @content;
    }
}

@mixin mobile-l {
    @media (min-width: #{$mobile-l}) {
        @content;
    }
}  

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
} 

@mixin laptop {
    @media (min-width: #{$laptop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

#shop-wrapper {
    font-family: 'Cabin Sketch', cursive;
    max-width: 850px;
    height: auto;

    #menu {

        .menu-item {
            display: flex;
            justify-content: center;
            border: 2px solid rgb(206, 189, 141);
            border-radius: 5px;
            overflow: auto;
            white-space: nowrap;

            &:active, &:focus {
                outline: none !important;
                box-shadow: none;
            }

            p {
                @include mobile-s {
                    padding: 0px 0px !important;
                }
                @include tablet {
                    padding: 10px 10px !important;
                }
            }
    
            p {
                margin: 10px 10px;
                padding: 10px 10px;
            }

            #search-bar {
                // @include mobile-s {}

                #search-button {
                    color: black;
                    border: 1px solid rgb(206, 205, 205) !important;
                }
    
                #search-button:hover {
                    color: white;
                }
            }
        }

        #pillows {
            background: rgb(189, 109, 255);
            color:white;
            background-image: linear-gradient(to left,
                transparent,
                transparent 50%,
                #f846bd 50%,
                #ce2997);
            background-position: 100% 0;
                background-size: 200% 100%;
                transition: all .25s ease-in;
                
            }
        #pillows:hover {
            background-position: 0 0;
            color: black;
            border: 2px solid black;
        }

        #cart {
            background: rgb(32, 99, 161);
            color:white;
            background-image: linear-gradient(to left,
                transparent,
                transparent 50%,
                rgb(247, 60, 69) 50%,
                rgb(216, 33, 42));
            background-position: 100% 0;
                background-size: 200% 100%;
                transition: all .25s ease-in;
                
            }
        #cart:hover {
            background-position: 0 0;
            color: black;
            border: 2px solid black;
        }

        #search {
            background: rgb(61, 59, 187);
            color:white;
            background-image: linear-gradient(to left,
                transparent,
                transparent 50%,
                rgb(247, 125, 89) 50%,
                rgb(231, 96, 54));
            background-position: 100% 0;
                background-size: 200% 100%;
                transition: all .25s ease-in;
                
            }
        #search:hover {
            content: attr(data-hover);
            background-position: 0 0;
            color: black;
            border: 2px solid black;
        }

        #puffs {
            background: rgb(82, 211, 189);
            color:white;
            background-image: linear-gradient(to left,
                transparent,
                transparent 50%,
                rgb(231, 148, 54) 50%,
                rgb(231, 96, 54));
            background-position: 100% 0;
                background-size: 200% 100%;
                transition: all .25s ease-in;
                
            }
        #puffs:hover {
            background-position: 0 0;
            color: black;
            border: 2px solid black;
        }

        #tents {
            background: rgb(52, 219, 80);
            color:white;
            background-image: linear-gradient(to left,
                transparent,
                transparent 50%,
                rgb(59, 207, 121) 50%,
                rgb(17, 172, 82));
            background-position: 100% 0;
                background-size: 200% 100%;
                transition: all .25s ease-in;
                
            }
        #tents:hover {
            background-position: 0 0;
            color: black;
            border: 2px solid black;
        }

        #baby-ex {
            background: rgb(240, 237, 68);
            color:white;
            background-image: linear-gradient(to left,
                transparent,
                transparent 50%,
                rgb(255, 4, 4) 50%,
                rgb(185, 38, 38));
            background-position: 100% 0;
                background-size: 200% 100%;
                transition: all .25s ease-in;
                
            }
        #baby-ex:hover {
            background-position: 0 0;
            color: black;
            border: 2px solid black;
        }

        #matts {
            background: rgb(255, 88, 37);
            color:white;
            background-image: linear-gradient(to left,
                transparent,
                transparent 50%,
                rgb(73, 243, 255) 50%,
                rgb(42, 190, 201));
            background-position: 100% 0;
                background-size: 200% 100%;
                transition: all .25s ease-in;
                
            }
        #matts:hover {
            background-position: 0 0;
            color: black;
            border: 2px solid black;
        }

        #toy-boxes {
            background: rgb(216, 0, 0);
            color:white;
            background-image: linear-gradient(to left,
                transparent,
                transparent 50%,
                rgb(39, 201, 39) 50%,
                rgb(45, 218, 22));
            background-position: 100% 0;
                background-size: 200% 100%;
                transition: all .25s ease-in;
                
            }
        #toy-boxes:hover {
            background-position: 0 0;
            color: black;
            border: 2px solid black;
        }

    }
}

// ---------- parallax
// .wrapper {
//     perspective: 2px;
//     height: 500px;
//     overflow-x: hidden;
//     overflow-y: auto;
// }
// .parallax_layer {
//     // position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
// }
// .parallax_layer-content {
//     transform: translateZ(0);
// }
// .parallax_layer-back {
//     justify-self: center;
//     transform: translateZ(-1px);
//     background-image: url('../../assets/imgs/baby-baloon.jpeg');
//     background-repeat: no-repeat;
// }