<div class="container" id="shop-wrapper">
  <div class="row justify-content-center mx-auto" id="shop-img-wrapper">
    <div class="col-12 justify-content-center mx-auto">
      <img class="image-fluid mx-auto" src="../../assets/imgs/store-2.png">
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center align-items-center mx-auto d-flex" id="menu">
      <button class="btn col-2 m-3 p-3 justify-content-center menu-item" id="pillows">
        <p>pillows</p>
      </button>
      <button class="btn col-2 m-3 p-3 justify-content-center menu-item" id="cart">
        <p>cart</p>
      </button>
      <button class="btn col-2 m-3 p-3 justify-content-center menu-item" id="search">
        <p>search</p>
      </button>
      <button class="btn col-2 m-3 p-3 justify-content-center menu-item" id="puffs">
        <p>puffs</p>
      </button>
    </div>
    <div class="row justify-content-center align-items-center mx-auto d-flex" id="menu">
      <button class="btn col-2 m-3 p-3 justify-content-center menu-item" id="tents">
        <p>tents</p>
      </button>
      <button class="btn col-2 m-3 p-3 justify-content-center menu-item" id="baby-ex">
        <p>baby ex.</p>
      </button>
      <button class="btn col-2 m-3 p-3 justify-content-center menu-item" id="matts">
        <p>matts</p>
      </button>
      <button class="btn col-2 m-3 p-3 justify-content-center menu-item" id="toy-boxes">
        <p>t-boxes</p>
      </button>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center align-items-center mx-auto" id="menu-cards">
      <div class="col-4 justify-content-center menu-card">
        <p>item 1</p>
      </div>
      <div class="col-4 justify-content-center menu-card">
        <p>item 2</p>
      </div>
      <div class="col-4 justify-content-center menu-card">
        <p>item 3</p>
      </div>
      <div class="col-4 justify-content-center menu-card">
        <p>item 4</p>
      </div>
      <div class="col-4 justify-content-center menu-card">
        <p>item 5</p>
      </div>
      <div class="col-4 justify-content-center menu-card">
        <p>item 6</p>
      </div>
    </div>
</div>
