$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

@mixin mobile-s {
    @media (min-width: #{$mobile-s}) {
        @content;
    }
}

@mixin mobile-m {
    @media (min-width: #{$mobile-m}) {
        @content;
    }
}

@mixin mobile-l {
    @media (min-width: #{$mobile-l}) {
        @content;
    }
}  

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
} 

@mixin laptop {
    @media (min-width: #{$laptop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

#shop-wrapper {
    padding: 0 0;
    margin: 0 0;
    font-family: 'Cabin Sketch', normal;
    max-width: 850px;
    height: auto;

    #menu-cards {
        min-height: 180px;
    }

    #menu {
        .menu-item {
            justify-content: center;
            color: cornsilk;
            overflow: auto;
            white-space: nowrap;
            // -----------
            outline: none;
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            border-bottom: solid 4px #627295;

            &:active {
                -webkit-transform: translateY(4px);
                -ms-transform: translateY(4px);
                -moz-transform: translateY(4px);
                -o-transform: translateY(4px);
                transform: translateY(4px); /* Move down */
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /* Reduce Shadow */
                border-bottom: none;
            }
            &:hover {
                color: rgb(24, 22, 22);
                border-bottom: solid 4px #627295;
            }

            #button-text {
                margin: 10px 10px;
                padding: 10px 10px;
                font-size: 18px;

                @include mobile-s {
                    margin: 2px 2px;
                    padding: 2px 2px;
                    font-size: 12px;
                }
                @include mobile-m {
                    margin: 2px 2px;
                    padding: 2px 2px;
                    font-size: 12px;
                }
                @include mobile-l {
                    margin: 2px 2px;
                    padding: 2px 2px;
                    font-size: 12px;
                }
                @include tablet {
                    margin: 10px 10px;
                    padding: 10px 10px;
                    font-size: 16px;
                }
                @include desktop {
                    margin: 10px 10px;
                    padding: 10px 10px;
                    font-size: 18px;
                }
                #store-count {
                    border-radius: 10px;
                    border-bottom: solid 4px #627295;
                }
            }
            &:active, &:focus {
                outline: none !important;
                box-shadow: none;
            }

            @include mobile-s {
                width: 253.33px;
            }
            @include mobile-m {
                width: 253.33px;
            }
            @include mobile-l {
                width: 253.33px;
            }
        }

        #pillows {
            background: rgb(189, 109, 255);
        }
        #cart {
            background: rgb(32, 99, 161);
        }
        

        #search {
            background: rgb(85, 75, 177);
        }

        #puffs {
            background: rgb(82, 211, 189);
        }

        #tents {
            background: rgb(52, 219, 80);
        }

        #baby-ex {
            background: rgb(152, 180, 24);
        }

        #matts {
            background: rgb(255, 88, 37);
        }

        #toy-boxes {
            background: rgb(216, 49, 49);
        }
    }
}
