<div class="container">
  <div class="row justify-content-center" id="form-wrapper">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-12">
      <form class="mt-0 mb-3 mx-2 d-inline w-100" id="filter">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="enter search word" [(ngModel)]="searchTerm"
            name="searchTerm">
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center mx-auto" id="card-wrapper">
    <div class="card col-xs-3 col-sm-3 col-md-5 col-lg-5 m-2 mx-auto" style="min-width: 175.5px; min-height: 325px;"
      *ngFor="let item of (shopItems | filter:searchTerm);">
      <img class="card-img-top img-fluid" [src]="item.imageUrl" alt="{{ item.name }}">
      <div class="card-body">
        <h5 class="card-title font-weight-bold" style="overflow: auto; white-space: nowrap;">{{ item.name }}</h5>
        <p class="card-text" style="word-wrap: break-word;">{{ item.description }}</p>
        <p class="card-text" style="word-wrap: break-word;">{{ item.price }} &euro;</p>
        <a class="btn btn-primary btn-sm btn-rounded" (click)="addToCart(item)">Add to cart</a>
      </div>
    </div>
  </div>
</div>